<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <!-- Title -->
  <title>Watch</title>
  <!-- Description, Keywords -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>

  {{{ stylesheets.all }}}

  <!-- HTML5 Support for IE -->
  <!--[if lt IE 9]>
  <script src="js/html5shim.js"></script>
  <![endif]-->

  <!-- Favicon -->
  
  <link rel="shortcut icon" href="{{urls.theme}}/media/favicon.png">
</head>

<body>

<!-- Header starts -->

<header>
   <div class="container">
      <div class="row">
         <div class="span4">
            <!-- Logo and site link -->
            <div class="logo">
               <h1><a href="/">Watch<span class="color">.</span></a></h1>
            </div>
         </div>
         <div class="span4 offset4">
            <div class="list">
               <!-- Add your phone number here -->
               <div class="phone">
                  <i class="icon-phone"></i> Phone: 612.341.2747
               </div>
               <hr />
               <!-- Add your email id here -->
               <div class="email">
                  <i class="icon-envelope-alt"></i> Email: watch@watchmn.org
               </div>
               <hr />
               <!-- Add your address here -->
               <div class="address">
                  <i class="icon-home"></i> Address: 608 Second Ave S, Northstar East Suite 465, Minneapolis, MN, 55402 USA
               </div>
            </div>
         </div>
      </div>
   </div>
</header>

<!-- Header ends -->

<!-- Navigation Starts -->

<!-- Note down the syntax before editing. It is the default twitter bootstrap navigation -->

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            Menu
          </a>
          <div class="nav-collapse collapse">
            <!-- Navigation links starts here -->
            <ul class="nav">
              <!-- Main menu -->
              <li><a href="/">Home</a></li>
              <!-- Navigation with sub menu. Please note down the syntax before you need. Each and every link is important. -->

              <li class="dropdown">
                <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
                <!-- Submenus -->
                <ul class="dropdown-menu">
                  <li><a href="/history">Watch History</a></li>
                  <li><a href="/staff">Staff</a></li>
                  <li><a href="/board">Board</a></li>
                  <li><a href="/events">Events</a></li>
                  <li><a href="/testimonials">Testimonials</a></li>     
                </ul>
              </li>

              <li class="dropdown">
                <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                <!-- Submenus -->
                <ul class="dropdown-menu">
                  <li><a href="/history">Tools for court monitoring</a></li>
                  <li><a href="/staff">Reports</a></li>
                  <li><a href="/newsletters">Newsletters</a></li>  
                </ul>
              </li>

              <li><a href="/">What is Court Monitoring?</a></li>

              <li class="dropdown">
                <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">Volunteer <b class="caret"></b></a>
                <!-- Submenus -->
                <ul class="dropdown-menu">
                  <li><a href="/history">Become a volunteer or Intern</a></li>
                  <li><a href="/staff">Resources for existing volunteers</a></li>
                </ul>
              </li>

              <li><a href="/">Support Us</a></li>
              <li><a href="/">Contact Us</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>

<!-- Navigation Ends -->

<!-- Content strats -->

<div class="content">
   <div class="container">
      <div class="row">
         <div class="span12">

          <!-- Slider (Parallax Slider) -->

          <div id="da-slider" class="da-slider">
    				<div class="da-slide">
    					<h2>40 Cool Pages</h2>
    					<p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
    					<a href="index.html#" class="da-link">Read more</a>
    					<div class="da-img"><img src="{{urls.theme}}/media/1.png" alt="image01" /></div>
    				</div>
    				<div class="da-slide">
    					<h2>Easy management</h2>
    					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
    					<a href="index.html#" class="da-link">Read more</a>
    					<div class="da-img"><img src="{{urls.theme}}/media/2.png" alt="image01" /></div>
    				</div>
    				<div class="da-slide">
    					<h2>Revolution</h2>
    					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
    					<a href="index.html#" class="da-link">Read more</a>
    					<div class="da-img"><img src="{{urls.theme}}/media/3.png" alt="image01" /></div>
    				</div>
    				<div class="da-slide">
    					<h2>Quality Control</h2>
    					<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
    					<a href="index.html#" class="da-link">Read more</a>
    					<div class="da-img"><img src="{{urls.theme}}/media/4.png" alt="image01" /></div>
    				</div>
    				<nav class="da-arrows">
    					<span class="da-arrows-prev"></span>
    					<span class="da-arrows-next"></span>
    				</nav>
      		</div>

          <!-- Slider ends -->

          <div class="bor"></div>

          <div class="main-content">
            <div class="row">
              <div class="span7">
                {{{ content }}}
              </div>
              <div class="span5">
                <div class="main-box">
                  <h4>Features</h4>
                  <p>Nam risus magna, fringilla sit amet blandit viverra, dignissim eget est. Etiam adipiscing posuere justo, nec iaculis justo dictum non.</p>
                  <ul>
                    <li>Cras tincidunt mi non arcu  eleifend</li>
                    <li>Aenean ullamcorper justo  diam faucibus</li>
                    <li>Maecenas hendrerit neque id ante  mattis</li>
                  </ul>
                  <div class="button">
                    <a href="index.html#"><i class="icon-shopping-cart"></i> Buy Now</a> <a href="index.html#"><i class="icon-magic"></i> Try Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

            <!-- CTA starts -->

            <div class="cta">
               <div class="row">
                  <div class="span9">
                     <!-- First line -->
                     <p class="cbig">Lorem ipsum consectetur dolor sit amet, consectetur adipiscing.</p>
                     <!-- Second line -->
                     <p class="csmall">Duis vulputate consectetur malesuada eros nec odio consect eturegestas et netus et in dictum nisi vehicula.</p>
                  </div>
                  <div class="span2">
                     <!-- Button -->
                     <div class="button"><a href="index.html#">Get A Free Trail</a></div>
                  </div>
               </div>
            </div>

            <!-- CTA Ends -->

            <!-- Features list. Note down the class name before editing. -->
                     <div class="row">
                        <div class="span3">
                           <div class="afeature">
                              <div class="afmatter">
                                 <i class="icon-cloud"></i>
                                 <h4>Nulla ullamcorper</h4>
                                 <p>Praesent at tellus porttitor  sagittis. Mauris tempor nulla. Ut tempus interdum mauris vel vehicula. </p>
                              </div>
                           </div>
                        </div>
                        <div class="span3">
                           <div class="afeature">
                              <div class="afmatter">
                                 <i class="icon-home"></i>
                                 <h4>Praesent at tellus</h4>
                                 <p>Praesent at tellus porttitor  sagittis. Mauris tempor nulla. Ut tempus interdum mauris vel vehicula. </p>
                              </div>
                           </div>
                        </div>
                        <div class="span3">
                           <div class="afeature">
                              <div class="afmatter">
                                 <i class="icon-gift"></i>
                                 <h4>Nulla ullamcorper</h4>
                                 <p>Praesent at tellus porttitor sagittis. Mauris tempor nulla. Ut tempus interdum mauris vel vehicula. </p>
                              </div>
                           </div>
                        </div>
                        <div class="span3">
                           <div class="afeature">
                              <div class="afmatter">
                                 <i class="icon-user"></i>
                                 <h4>Mauris tempor</h4>
                                 <p>Praesent at tellus porttitor  sagittis. Mauris tempor nulla. Ut tempus interdum mauris vel vehicula. </p>
                              </div>
                           </div>
                        </div>
                     </div>

            <!-- Features ends -->

            <div class="bor"></div>

            <!-- Testimonials -->

            <div class="testimonial">
                <div class="container">
                     <div class="row">
                        <div class="span4">
                           <!-- Testimonial #1 -->
                           <div class="test">
                              Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.
                           </div>
                           <div class="test-arrow"></div>
                           <div class="tauth"><i class="icon-user"></i> Ravi, <span class="color">Google</span></div>
                        </div>

                        <div class="span4">
                           <!-- Testimonial #2 -->
                           <div class="test">
                              Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.
                           </div>
                           <div class="test-arrow"></div>
                           <div class="tauth"><i class="icon-user"></i> Ashok, <span class="color">Yahoo</span></div>
                        </div>

                        <div class="span4">
                           <!-- Testimonial #3 -->
                           <div class="test">
                              Praesent at tellus porttitor nisl porttitor sagittis. Mauris in massa ligula, a tempor nulla. Ut tempus interdum mauris vel vehicula. Nulla ullamcorper tortor commodo in sagittis est accumsan.
                           </div>
                           <div class="test-arrow"></div>
                           <div class="tauth"><i class="icon-user"></i> Santy, <span class="color">Facebook</span></div>
                        </div>
                     </div>
                  </div>
                </div>

                <div class="bor"></div>

            <!-- Recent post starts. Note down the class name before editing. -->

            <div class="rposts">
               <h4>Recent Posts</h4>
               <div class="row">
                  <div class="span6">

                     <!-- Recent post 1. Class name should be "rpost1" -->
                     <div class="rpost1">
                        <!-- Image -->
                        <div class="rimg">
                           <img src="{{urls.theme}}/media/r1.jpg" alt="" />
                        </div>
                        <!-- Title & Para -->
                        <div class="rdetails">
                           <h5>Lorem ipsum</h5>
                           <p>Duis vulputate consectetur malesuada et in dictum nisi vehicula.</p>
                        </div>
                     </div>


                     <!-- Recent post 2. Class name should be "rpost2" -->
                     <div class="rpost2">
                        <div class="rimg">
                           <img src="{{urls.theme}}/media/r2.jpg" alt="" />
                        </div>
                        <div class="rdetails">
                           <h5>Lorem ipsum</h5>
                           <p>Duis vulputate consectetur malesuada et netus et in dictum nisi vehicula.</p>
                        </div>
                     </div>


                  </div>
                  <div class="span6">


                     <!-- Recent post 3. Class name should be "rpost1" -->
                     <div class="rpost1">
                        <div class="rimg">
                           <img src="{{urls.theme}}/media/r3.jpg" alt="" />
                        </div>
                        <div class="rdetails">
                           <h5>Lorem ipsum</h5>
                           <p>Duis vulputate consectetur malesuada et in dictum nisi vehicula.</p>
                        </div>
                     </div>


                     <!-- Recent post 4. Class name should be "rpost2" -->
                     <div class="rpost2">
                        <div class="rimg">
                           <img src="{{urls.theme}}/media/r4.jpg" alt="" />
                        </div>
                        <div class="rdetails">
                           <h5>Lorem ipsum</h5>
                           <p>Duis vulputate consectetur malesuada et netus et in dictum nisi vehicula.</p>
                        </div>
                     </div>


                  </div>
               </div>
            </div>

            <!-- Recent post ends -->


            <!-- Clients starts -->

            <div class="row">
               <div class="span12">
                  <div class="clients">
                     <img src="{{urls.theme}}/media/amazon_b.png" alt="" />
                     <img src="{{urls.theme}}/media/google_b.png" alt="" />
                     <img src="{{urls.theme}}/media/twitter_b.png" alt="" />
                     <img src="{{urls.theme}}/media/facebook_b.png" alt="" />
                     <img src="{{urls.theme}}/media/skype_b.png" alt="" />
                     <img src="{{urls.theme}}/media/youtube_b.png" alt="" />
                  </div>
               </div>
            </div>

            <!-- Clients ends -->

         </div>
      </div>
   </div>
</div>

<!-- Content ends -->

<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="span4">
         <!-- Widget 1 -->
         <div class="widget">
            <h4>Twitter</h4>
            <!-- Too add twitter widget, goto "js" folder and open "custom.js" file and search for the word "ashokramesh90". This is my twitter username. Just replace the word with your twitter username. You are done. -->
            <div class="tweet"></div>
         </div>
      </div>
      <div class="span4">
         <!-- widget 2 -->
         <div class="widget">
            <h4>Recent Posts</h4>
               <ul>
                  <li><a href="index.html#">Sed eu leo orci, in rhoncus puru condimentum gravida metus</a></li>
                  <li><a href="index.html#">Etiam at in rhoncus puru nulla ipsum, in rhoncus purus</a></li>
                  <li><a href="index.html#">Fusce vel magnain rhoncus puru faucibus felis dapibus facilisis</a></li>
               </ul>
         </div>
      </div>
      <div class="span4">
         <!-- Widget 3 -->
         <div class="widget">
            <h4>Categories</h4>
            <ul>
               <li><a href="index.html#">Condimentum</a></li>
               <li><a href="index.html#">Etiam at</a></li>
               <li><a href="index.html#">Fusce vel</a></li>
               <li><a href="index.html#">Vivamus</a></li>
               <li><a href="index.html#">Pellentesque</a></li>
            </ul>
         </div>
      </div>

      <div class="span12"><hr /><p class="copy">
      <!-- Copyright information. You can remove my site link. -->
               Copyright &copy; <a href="index.html#">Your Site</a> | Designed by <a href="http://responsivewebinc.com">Responsive Web Design</a></p></div>
    </div>
  </div>
</footer>

<!-- JS -->
    {{{ javascripts.all }}}
		<script type="text/javascript">
			$(function() {

				$('#da-slider').cslider({
					autoplay	: true,
					interval : 6000
				});

			});
		</script>
</body>
</html>
